* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: burlywood;
  margin-top: 100px;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

header {
  margin-bottom: 60px;
  text-align: center;
}

header h1 {
  font-size: 66px;
  font-weight: bold;
}

form {
  display: flex;
  justify-content: space-around;
  width: 700px;
  margin: 0 auto;
}

#adicionar {
  margin-left: 8px;
  margin-right: 8px;
}

form input,
form button {
  font-size: 24px;
  background-color: #fff;
  padding: 8px;
  border: none;
  border-radius: 8px;
  width: 400px;
}

form button {
  background-color: rgb(231, 140, 22);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  width: 156px;
}

ul li {
  padding: 16px 0;
  font-size: 24px;
  color: rgb(201, 114, 0);
  text-align: center;
}

li:hover {
  cursor: pointer;
}

.remover-tarefa {
  text-decoration: line-through;
} 