* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: "Mulish", sans-serif;
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 16px;
}

form input,
form button {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  font-family: "Inter", sans-serif;
}

form button {
  background-color: rgb(192, 66, 209);
  text-transform: uppercase;
  color: #fff;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

form button:hover {
  background-color: rgb(148, 35, 163);
  cursor: pointer;
}

.success-message {
  background-color: rgb(66, 209, 102);
  padding: 16px;
  color: #fff;
  font-family: "Inter", sans-serif;
  width: 550px;
  display: none;
}

.error-message {
  background-color: red;
  padding: 8px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  width: 550px;
  margin-bottom: 8px;
  display: none;
}

input.error {
  color: red;
  border-color: red;
  outline-color: red;
}