@use 'config/reset';
@use 'config/variaveis';
@use 'secoes/products';
@use 'secoes/header'; 

body {
  background-color: variaveis.$corDeFundo;
}

li {
  list-style: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: variaveis.$tablet) {
  .container {
      max-width: 80%;

    .products {
      grid-template-columns: repeat(2, 48.5%);
      column-gap: 3%;
    }
  }
}

@media screen and (max-width: variaveis.$mobile) {
  .container {
    max-width: 80%;

    .products {
      display: block;

      .product-item  {
        margin-bottom: 32px;
      }
    }
  }
}